<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="This is a simple task planner!">
    <title>Plan.it!</title>
    
    <!-- Styles -->
    <link rel="stylesheet" href="css/styles.css">
</head>

<body>